::-webkit-scrollbar{
    display: none;
}
body{
  margin-top: 25vh;
}
a{
  /* text-emphasis: none; */
  text-decoration: none;
  color: #000;
}
.center {
  margin: auto;
  width: 50%;
  text-align: center;
  padding: 10px;
}
.the{
  font-size: 103px;
  
}
.s{
  font-family: 'Teko', sans-serif;
  margin-top: -65px;
  font-size: 84px;
}